@using _07._13_2019_mvc_k30.ViewModels.Default
@model DefaultViewModel
<!-- main of the page -->
<main id="main">
    <!-- banner slide of the page -->
    <section class="banner-slide banner-sec">
        <!-- slide of the page -->
        <div class="slide">
            <div class="banner-holder bg-full" style="background-image: url(../@Model.topSection.Image)">
                <div class="container holder">
                    <div class="row">
                        <div class="col-xs-12 caption fwMedium text-center">
                            <h1 class="fwMedium">@Model.topSection.Header</h1>
                            <p>@Model.topSection.Description</p>
                            <a href="#" class="btn-primary text-uppercase">@Model.topSection.btnText</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#about" class="next-sec"></a>
        </div>
    </section>
    <!-- about sec of the page -->
    <section id="about" class="about-sec container">
        <div class="row">

            <div class="col-xs-12 col-md-5 header">

                <h2 class="heading fwExtra-Light">@Model.section2DivsLeft.Heder</h2>
                <p>@Model.section2DivsLeft.Description</p>
                <a href="about-us.html" class="btn-primary shadow fwSemi-bold text-uppercase">read more</a>
            </div>
            <div class="col-xs-12 col-md-7">
                <!-- financial list of the page -->
                <ul class="list-unstyled financial-list">
                    @foreach (var item in Model.section2DivsRight)
                    {
                        <li>
                            <span style="font-size:2em;color:blue" id="iconsMain" class="@item.Icons "></span>
                            <div class="financial-list-detail">
                                <h3 class="heading3 fwRegular">@item.Header</h3>
                                <p>@item.Description</p>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </section>
    <!-- choose sec of the page -->
    <section class="choose-sec bg-lightGrey">
        <div class="col pull-right">
            <div class="img-holder">
                <img src="images/img53.jpg" class="img-responsive" alt="img-description">
            </div>
        </div>
        <div class="col v2 pull-left">
            <!-- choose detail of the page -->
            <div class="choose-detail pull-right">
                <h2 class="heading fwExtra-Light">Why Choose Us.</h2>
                <ul class="list-unstyled choose-list pull-right">
                    <li>
                        <h3 class="heading4"><span class="check ti-check"></span>We are responsible</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </li>
                    <li>
                        <h3 class="heading4"><span class="check ti-check"></span>Our client are satisfied</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </li>
                    <li>
                        <h3 class="heading4"><span class="check ti-check"></span>Reasonable prices</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- service sec of the page -->
    <section class="service-sec container">
        <div class="row">
            <div class="col-xs-12">
                <div class="header2 text-center">
                    <h2 class="heading fwExtra-Light">Services</h2>
                    <p>Web hosting packages provide quality web hosting with unlimited resources</p>
                </div>
                <!-- service slide of the page -->
                <div class="service-slide">
                    <!-- service col of the page -->
                    <div class="service-col text-center">
                        <span class="icon icon-business1"></span>
                        <h3 class="heading4"><a href="service-detail.html">Business Strategy</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        <a href="service-detail.html" class="btn-secondary text-uppercase fwSemi-bold">view services</a>
                    </div>
                    <!-- service col of the page -->
                    <div class="service-col text-center">
                        <span class="icon icon-tax"></span>
                        <h3 class="heading4"><a href="service-detail.html">Tax Consulting</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        <a href="service-detail.html" class="btn-secondary text-uppercase fwSemi-bold">view services</a>
                    </div>
                    <!-- service col of the page -->
                    <div class="service-col text-center">
                        <span class="icon icon-analysis"></span>
                        <h3 class="heading4"><a href="service-detail.html">Financical Analysis</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        <a href="service-detail.html" class="btn-secondary text-uppercase fwSemi-bold">view services</a>
                    </div>
                    <!-- service col of the page -->
                    <div class="service-col text-center">
                        <span class="icon icon-tax"></span>
                        <h3 class="heading4"><a href="service-detail.html">Tax Consulting</a></h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                        <a href="service-detail.html" class="btn-secondary text-uppercase fwSemi-bold">view services</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonail sec of the page -->
    <section class="testimonial-sec bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header2">
                        <h2 class="text-capitalize fwExtra-Light heading">Our Client’s Reviews</h2>
                        <p>We bring together everything from balances and bills to your credit score and more</p>
                    </div>
                    <!-- testimonail slider of the page -->
                    <div class="testimonial-slider">
                        <!-- slide of the page -->
                        @foreach (var slide in Model.client)
                        {
                            <div class="slide">
                                <div class="header">
                                    <h3 class="heading4 fwRegular">@slide.Header</h3>
                                    <p>“@slide.Message”</p>
                                </div>
                                <footer class="testimonial-descrip">
                                    <div class="author-block fw pull-left">
                                        <div class="img-holder pull-left">
                                            <a href="#"><img src="images/img54.png" class="img-responsive" alt="image description"></a>
                                        </div>
                                        <div class="testimonial-detail">
                                            <h3 class="heading9 fwRegular text-capitalize"><a href="#">@slide.ClientFullName</a></h3>
                                        </div>
                                    </div>
                                    <ul class="list-unstyled ratting-list">
                                        <li><a href="#" class="blue fas fa-star"></a></li>
                                        <li><a href="#" class="blue fas fa-star"></a></li>
                                        <li><a href="#" class="blue fas fa-star"></a></li>
                                        <li><a href="#" class="blue fas fa-star"></a></li>
                                        <li><a href="#" class="light-grey fas fa-star"></a></li>
                                    </ul>
                                </footer>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project sec of the page -->
    <section class="project-sec bg-lightGrey">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 header2 text-center">
                    <h2 class="heading fwExtra-Light text-capitalize">Our Project</h2>
                    <p>We stay on top of your industry by being experts in your</p>
                </div>
            </div>
        </div>
        <!-- project holder of the page -->
        <div class="project-holder">
            <!-- project block of the page -->
            <!-- project block of the page -->
            @foreach (var ouritem in Model.ourProject)
            {
                <figure class="project-block overlay">
                    <img src="@ouritem.ProjectImage" alt="image description" class="img-responsive">
                    <figcaption class="contant-holder bg-blue fwRegular white">
                        <h2 class="heading6"><a href="@Url.Action("ProjectDetail", "Home", new { id = ouritem.Id })">@ouritem.Header</a></h2>
                        <p>@ouritem.Description</p>
                    </figcaption>
                </figure>
            }

        </div>
    </section>
    <!-- post sec of the page -->
    @{Html.RenderPartial("_blogList");}
    <!-- submit sec of the page -->
    <section class="submit-sec bg-parallax" style="background-image: url(images/img63.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="header2 text-center">
                        <h2 class="heading text-capitalize fwExtra-Light">Have A Questions?</h2>

                        @if (ViewBag.Success != null)
                        {
                            <p class="alert alert-success">@ViewBag.Success</p>
                        }

                    </div>
                    <!-- contact form of the page -->
                    <form method="post" action="@Url.Action("Index","Home")" class="contact-form text-center">
                        <fieldset>
                            <div class="form-group">
                                <div class="col">
                                    <input type="text" name="ClientFullName" class="form-control" placeholder="Your Name:*">
                                </div>
                                <div class="col">
                                    <input type="text" name="Email" class="form-control" placeholder="Your Email:*">
                                </div>
                                <br />

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="row">
                                        <input type="text" name="Header" class="form-control" placeholder="HEADER:*">

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="Message" placeholder="Message:*"></textarea>
                            </div>
                            <button type="submit" class="btn-primary bg-white fwSemi-bold text-uppercase">submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>