@model _07._13_2019_mvc_k30.Models.OurProjectTB

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OurProjectTB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.miniDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miniDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subheader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subheader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
